/* 
  Gray color: #BEBEBE

*/

.App {
  font-family: "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
}

.vl {
  border-left: 1px solid;
  height: 80%;
}

.itemPage {
  width: 100%;
  height: 100%;
}

.displayInformation {
  width: 40%;
  margin: 5%;
  padding: 5%;
  /* background-color: tomato; */
  text-align: center;
}

.productName {
  font-weight: 300;
  font-size: 1.9em;
}

.imageViewer {
  text-align: center;
  /* background-color: tomato; */
  width: 100%;
  color: #BEBEBE;
}

.mainImage {
  margin-bottom: 1em;
}

.imageZoom {
  width: 30%;
  height: 5%;
  /* background-color: tomato; */
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* font-size:  */
}

.imageZoomIcon {
  /* background-color: tomato; */
  font-size: 1.5em;
}

.imageZoomText {
  /* background-color: tomato; */
  margin-left: .5em;
  padding-left: .5em;
}


