/* 
  Blue color: #649BD7
  Gray color: #BEBEBE
  Dark gray: #8C8C8C
  Light Gray color: #F0F0F0
  Red color: #C33A1D
*/

.App {
  font-family: "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
} 

hr {
  color: #BEBEBE;
}

.itemPage {
  width: 100%;
  height: 100%;
}

/* 
//////////////////////////
DisplayInformation Section
//////////////////////////
*/

.displayInformation {
  width: 38%;
  /* margin: 5%; */
  margin-left: 2%;
  padding: 3%;
  /* background-color: green; */
  text-align: center;
  float: left;
}

.productName {
  font-weight: 300;
  font-size: 1.9em;
}

.imageViewer {
  text-align: center;
  /* background-color: tomato; */
  width: 100%;
  color: #BEBEBE;
}

.mainImage {
  margin-bottom: 1em;
}

.imageZoom {
  width: 30%;
  height: 5%;
  /* background-color: tomato; */
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* font-size:  */
}

.imageZoomIcon {
  /* background-color: tomato; */
  font-size: 1.5em;
}

.imageZoomText {
  /* background-color: tomato; */
  margin-left: .5em;
  padding-left: .5em;
}

.imageCarousel {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
  margin: auto;
}

.carouselItem {
  width: 20%;
  height: 20%;
}

.carouselDirection {
  font-size: 2.8em;
  font-weight: 500;
}

.subImage {
  width: 100%;
  height: auto;
}

/* 
//////////////////////////
PurchaseInformation Section
//////////////////////////
*/

.purchaseInformation {
  /* width: 38%; */
  width: 47%;
  /* margin: 5%; */
  margin-right: 2%;
  /* padding: 5%; */
  padding: 2%;
  /* background-color: tomato; */
  /* text-align: center; */
  float: right;
  padding-top: 5em;
}

.priceBox {
  width: 50%;
  height: 3em;
  display: flex;
  text-align: center;
  /* align-items: baseline; */
  /* background-color: tomato; */
}

.priceNumber {
  font-size: 1.9em;
  align-self: center;
}

.priceQualifier {
  font-size: .8em;
  margin-left: 1.2em;
  padding-bottom: .8em;
  align-self: flex-end;
}

.promotions {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #C33A1D;
  line-height: 1.5em;
}

.promotion {
  text-align: left;
}

.promotionsIcon {
  margin-right: 1em;
}

.quantityBox {
  width: 48%;
  height: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #BEBEBE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5em;
  border: .01em solid #BEBEBE;
  /* background-color: tomato; */
}

.quantityCounter {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6em;
}

.quantityNumber {
  color: #000000;
  margin-left: .5em;
  margin-right: .5em;
  font-size: .7em;
}

.buyButtonsBox {
  width: 100%;
  height: 5em;
  margin-bottom: .5em;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-between;
  /* align-items: center; */
  align-items: flex-start;
  /* background-color: tomato; */
}

.buttonWrapper {
  width: 48%;
  height: 5.5em;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.buyButton {
  width: auto;
  height: 60%;
  color: #FFF;
  font-size: 1.2em;
  border-radius: 3px;
}

.inStoreBtn {
  background-color: #000000;
}

.inStore {
  height: 10%;
  margin-top: .2em;
  align-self: center;
  /* background-color: aqua; */
}

.cartBtn {
  background-color: #C33A1D;
}

.returns {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  color: #8C8C8C;
  /* background-color: tomato; */
}

.returnsTitle {
  font-size: 1.2em;
  margin-right: .4em;
}

.returnsText {
  height: 50%;
  font-size: .8em;
  padding-left: .4em;
}

.shareButtonsBox {
  width: 100%;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: tomato; */
}

.shareButton {
  width: 33%;
  height: 100%;
  border-radius: 3px;
  text-align: center;
  padding-top: .7em;
  background-color: #F0F0F0;
}

/* 
//////////////////////////
ProductInformation Section
//////////////////////////
*/

.productInformation {
  /* width: 38%; */
  width: 47%;
  /* margin: 5%; */
  margin-right: 2%;
  /* padding: 5%; */
  padding: 2%;
  padding-top: .5%;
  /* background-color: tomato; */
  /* text-align: center; */
  float: right;
  /* padding-top: 5em; */
}

.productHighlightsTitle {
  font-size: 2.6em;
  font-weight: 400;
  margin-top: 0em;
  margin-bottom: .5em;
}

.productHighlightsList {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;
  color: #8C8C8C;
  padding-left: 1.2em;
}

.productHighlightsItem>strong {
  font-weight: 400;
}

/* 
//////////////////////////
Reviews Section
//////////////////////////
*/

.reviews {
  width: 38%;
  /* margin: 5%; */
  margin-left: 2%;
  padding: 3%;
  /* background-color: green; */
  /* text-align: center; */
  float: left;
}

.reviewsHeader {
  width: 100%;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1em;
  font-weight: 600;
  /* background-color: green; */
}

.reviewsOverallScore {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* background-color: tomato; */
}

.reviewsOverallStars {
  font-size: 1.5em;
  margin-right: .5em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* margin-top: .5em; */
  /* background-color: green; */
}

.reviewStarEmpty {
  color: #8C8C8C;
}

.reviewStarFilled {
  color: #C33A1D;
}

.reviewsBox {
  width: 100%;
  /* height: 60em; */
  display: block;
  overflow: auto;
  background-color: #F0F0F0;
}

.reviewsTitle {
  width: 100%;
  /* display: block;
  overflow: auto; */
  display: flex;
  flex-direction: row;
}

.reviewsBoxTitle {
  width: 45%;
  margin: 2%;
  /* font-size: .8em; */
  /* font-weight: 300; */
}

.previewsBoxTitleHeader {
  font-size: 1em;
  font-weight: 400;
  margin-top: .2em;
  margin-bottom: .1em;
}

.previewsBoxTitleText {
  font-size: .9em;
  font-weight: 360;
  margin-top: .1em;
  margin-bottom: .1em;
}

.reviewsHR {
  width: 95%;
}

.reviewsBody {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.topReview {
  width: 45%;
  margin: 2%;
}

.topReviewTitle {
  font-weight: 600;
}

.topReviewText {
  font-size: .9em;
  font-weight: 360;
  margin-bottom: 1em;
}

.topReviewSignature {
  font-size: .9em;
  font-weight: 360;
}

.screenName {
  color: #649BD7;
}